[Unit]
Description=model-dp server
#Documentation=none
After=network.target

[Service]
Environment="SERVER_HOME={{.app.home}}/model-dp"
ExecStart=/usr/local/bin/java -jar ${SERVER_HOME}/model-dp.jar --spring.config.location=file:${SERVER_HOME}/bootstrap.yml
ExecStop=/bin/kill -9 $MAINPID
Restart=on-failure

[Install]
Alias=model-dp.service
WantedBy=multi-user.target