[Unit]
Description=ms-system server
#Documentation=none
After=network.target

[Service]
Environment="SERVER_HOME={{.app.home}}/ms-system"
ExecStart=/usr/local/bin/java -jar ${SERVER_HOME}/ms-system.jar --spring.config.location=file:${SERVER_HOME}/bootstrap.yml
ExecStop=/bin/kill -9 $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
KillMode=control-group

[Install]
Alias=ms-system.service
WantedBy=multi-user.target
